<div class="header-partial">
  <h2>{{#if company}}{{uppercase company}}{{else}}{{uppercase "NestJS Mailable"}}{{/if}} - Email Service</h2>
  <p>Your trusted email provider since {{#if currentYear}}{{currentYear}}{{else}}2024{{/if}}</p>
</div>